h1 {
    text-align: center;
    font-family: Calibri, serif;
}

button {
    background-color: #234ebe;
    color: aliceblue;
    border: none;
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

#startSpiel {
    font-size: large;
    align-content: center;
}

#buttonContainer {
    text-align: center;
}

#theGame {
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

#canvasContainer {
    text-align: center;
}

h2 {
    font-family: Calibri, serif;
    text-align: center;
    color: red;
    display: none;
    margin-bottom: 20px;
}