h1 {
    text-align: center;
    font-family: Calibri, serif;
}

button {
    background-color: #234ebe;
    color: aliceblue;
    border: none;
    min-height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

#startSpiel {
    font-size: large;
    align-content: center;
}

#buttonContainer {
    text-align: center;
}

#theGame {
    background-size: cover;
    display: none;
    background: linear-gradient(to top, darkblue, purple);
}

#canvasContainer {
    text-align: center;
}

h2 {
    font-family: Calibri, serif;
    text-align: center;
    display: none;
    margin-bottom: 20px;
}

#lostGame {
    color: red;
}

#wonGame {
    color: mediumseagreen;
}

table {
    font-family: Calibri, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

table tbody tr td {
    text-align: left;
}

#gameData {
    display: none;
    text-align: center;
    width: 100%;
}

#gameSettings {
    list-style: none;
    padding: 0;
    display: none;
}

#einstellungenText {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}